.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.header-container {
  text-align: right;
  margin-right: 10%;
}

h3 {
  margin-top: 10px;
  margin-left: 110px;
  font-family: 'Lora Italic', serif;
  font-size: 1.7em;
  color: #812B2B;
  letter-spacing: 2px;
  display: inline-block;
}

.filters {
  flex: 1;
  background-color: #f1f1f1;
  margin-left: 80px;
}

.recipes-list {
  flex: 2;
  background-color: #F6EFEF;
  padding: 10px;
  margin-right: 80px;
}

.paginator-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 40px;
}

.mat-paginator {
  color: #fff;
  background-color: #1976d2;
  padding: 8px;
}