<div class="recipes-list-container">
  <a class="top-recipe-card" *ngFor="let recipe of recipes" [routerLink]="['/recipe', recipe.id]">
    <img [src]="recipe.pictures[0]" alt="Recipe image">
    <div class="recipe-overlay">
      <div class="recipe-meta">
        <span class="recipe-category">{{ recipe.category }}</span>
        <span class="recipe-time">
          <i class="fa-solid fa-clock"></i>
          {{ recipe.duration }} min
        </span>
      </div>
      <div class="recipe-content">
        <div class="recipe-title">
          {{ recipe.name }}
        </div>
        <div class="recipe-description">
          {{ recipe.description }}
        </div>
      </div>
    </div>
  </a>
</div>

<div class="custom-paginator" *ngIf="pageProperties.totalCount > 0">
  <div class="page-size">
    Show:
    <select [(ngModel)]="pageProperties.pageSize" (change)="changePageSize()">
      <option *ngFor="let size of pageProperties.pageSizeOptions" [value]="size">{{ size }}</option>
    </select>
  </div>

  <div class="pagination-buttons">
    <button (click)="prevPage()" [disabled]="pageProperties.page === 0">Previous</button>

    <button
      *ngFor="let page of totalPagesArray; let i = index"
      [class.active]="i === pageProperties.page"
      (click)="goToPage(i)">
      {{ i + 1 }}
    </button>

    <button (click)="nextPage()" [disabled]="pageProperties.page >= totalPages - 1">Next</button>
  </div>
</div>