<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zeyada&display=swap" rel="stylesheet">
</head>


<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <img src="assets/images/logo.png" alt="logo" class="footer-logo">
            <p class="footer-slogan">Take care of your every BITE!</p>
        </div>
        <div class="footer-social">
            <h2>POVEŽIMO SE</h2>
            <ul class="social-links">
                <li>
                    <a href="https://www.facebook.com/WeeklyBite" target="_blank">
                        <i class="fab fa-facebook-f"></i> WeeklyBite
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/WeeklyBite" target="_blank">
                        <i class="fab fa-linkedin-in"></i> WeeklyBite
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/weekly_bite" target="_blank">
                        <i class="fab fa-instagram"></i> weekly_bite
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p><a href="https://github.com/IvanaaXD" target="_blank" class="github-link">Copyright 2024 © Ivana</a></p>
        <p>Enjoy every BITE of your WEEK!</p>
    </div>
</footer>