<div class="profile-card" *ngIf="currentUser">
  <div class="profile-picture">
    <img [src]="currentUser.profilePicture" alt="User Profile Picture" />
  </div>

  <h2>{{ currentUser.firstName }} {{ currentUser.lastName }}</h2>
  <p class="email">{{ currentUser.email }}</p>

  <div class="additional-info">
    <p>Birth location: <span>{{ currentUser.birthLocation }}</span></p>
    <p>Phone number: <span>{{ currentUser.phoneNumber }}</span></p>
  </div>

  <div class="buttons">
    <button class="change-info" (click)="openEditUserDialog()">Change info</button>
    <button class="change-password-btn" (click)="changePasswordDialog()">Change password</button>
    <!--
    <button *ngIf="authService.getRole() === 'ROLE_USER'"
        class="change-password-btn"
        (click)="changeUpgradeUserDialog()">
      Upgrade role
    </button>-->
    <button 
    class="deactivate-account" 
    [disabled]="!canDeactivateAccount"
    (click)="onDeactivateAccount()"
  >
    Deactivate account
  </button>
  <div *ngIf="deactivationMessage" class="deactivation-message">
    <p>{{ deactivationMessage }}</p>
  </div>
  </div>
</div>